
@media (min-width: 992px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="b29ac29b-1d73-e445-6be7-b8f1b4cadcab"] {
        background-color:rgba(0,0,0,0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="1be6e1ac-d1d7-ed41-8054-3b79ffedf7c8"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d1acdb20-8a30-1001-5c0c-aff408b1de20"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="18136238-2ddd-af6e-b549-ba0ac44c3a59"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="f2c459ca-5641-e020-a978-760c4a50de0a"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="dfa27a85-59f7-cd03-b7ab-7b2c312e88a0"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="18136238-2ddd-af6e-b549-ba0ac44c3a5b"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d1e60ed8-1aee-f02e-75c9-2a4c11f2ba4a"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="05b91ce3-3481-4a4c-ca29-4a54df0f01a6"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="fc5a4ed9-7838-e97f-161c-98aaaf1c4eff"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a15826d3-8153-ab41-ffcf-9db1fef31b48"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="c6e9e590-18d1-ccdf-9492-676b5e790526"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="0b6ddf6e-dfab-bdcd-af83-a9fea1c5a00e"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4fc90ff4-b5c5-09ec-7d3c-ef3a277d2d0f"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcaf8"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcafb"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcaff"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcb03"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcaf9"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcafd"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcb00"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcb02"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcb04"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcafc"] {
        opacity: 0;
    }
}

@media (max-width: 991px) and (min-width:768px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="b29ac29b-1d73-e445-6be7-b8f1b4cadcab"] {
        background-color:rgba(0,0,0,0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="1be6e1ac-d1d7-ed41-8054-3b79ffedf7c8"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d1acdb20-8a30-1001-5c0c-aff408b1de20"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="18136238-2ddd-af6e-b549-ba0ac44c3a59"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="f2c459ca-5641-e020-a978-760c4a50de0a"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="dfa27a85-59f7-cd03-b7ab-7b2c312e88a0"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="18136238-2ddd-af6e-b549-ba0ac44c3a5b"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d1e60ed8-1aee-f02e-75c9-2a4c11f2ba4a"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="05b91ce3-3481-4a4c-ca29-4a54df0f01a6"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="fc5a4ed9-7838-e97f-161c-98aaaf1c4eff"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a15826d3-8153-ab41-ffcf-9db1fef31b48"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="c6e9e590-18d1-ccdf-9492-676b5e790526"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="0b6ddf6e-dfab-bdcd-af83-a9fea1c5a00e"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4fc90ff4-b5c5-09ec-7d3c-ef3a277d2d0f"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcaf8"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcafb"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcaff"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcb03"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcaf9"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcafd"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcb00"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcb02"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcb04"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcafc"] {
        opacity: 0;
    }
}

@media (max-width: 767px) and (min-width:480px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="b29ac29b-1d73-e445-6be7-b8f1b4cadcab"] {
        background-color:rgba(0,0,0,0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="1be6e1ac-d1d7-ed41-8054-3b79ffedf7c8"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d1acdb20-8a30-1001-5c0c-aff408b1de20"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="18136238-2ddd-af6e-b549-ba0ac44c3a59"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="f2c459ca-5641-e020-a978-760c4a50de0a"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="dfa27a85-59f7-cd03-b7ab-7b2c312e88a0"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="18136238-2ddd-af6e-b549-ba0ac44c3a5b"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d1e60ed8-1aee-f02e-75c9-2a4c11f2ba4a"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="05b91ce3-3481-4a4c-ca29-4a54df0f01a6"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="fc5a4ed9-7838-e97f-161c-98aaaf1c4eff"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a15826d3-8153-ab41-ffcf-9db1fef31b48"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="c6e9e590-18d1-ccdf-9492-676b5e790526"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="0b6ddf6e-dfab-bdcd-af83-a9fea1c5a00e"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4fc90ff4-b5c5-09ec-7d3c-ef3a277d2d0f"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcaf8"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcafb"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcaff"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcb03"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcaf9"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcafd"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcb00"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcb02"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcb04"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcafc"] {
        opacity: 0;
    }
}

@media (max-width: 479px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="b29ac29b-1d73-e445-6be7-b8f1b4cadcab"] {
        background-color:rgba(0,0,0,0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="1be6e1ac-d1d7-ed41-8054-3b79ffedf7c8"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d1acdb20-8a30-1001-5c0c-aff408b1de20"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="18136238-2ddd-af6e-b549-ba0ac44c3a59"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="f2c459ca-5641-e020-a978-760c4a50de0a"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="dfa27a85-59f7-cd03-b7ab-7b2c312e88a0"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="18136238-2ddd-af6e-b549-ba0ac44c3a5b"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d1e60ed8-1aee-f02e-75c9-2a4c11f2ba4a"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="05b91ce3-3481-4a4c-ca29-4a54df0f01a6"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="fc5a4ed9-7838-e97f-161c-98aaaf1c4eff"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a15826d3-8153-ab41-ffcf-9db1fef31b48"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="c6e9e590-18d1-ccdf-9492-676b5e790526"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="0b6ddf6e-dfab-bdcd-af83-a9fea1c5a00e"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4fc90ff4-b5c5-09ec-7d3c-ef3a277d2d0f"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcaf8"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcafb"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcaff"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcb03"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcaf9"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcafd"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcb00"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcb02"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcb04"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4a430590-73ce-ef6f-940f-d1d7b92fcafc"] {
        opacity: 0;
    }
}

.heading-3 {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.c-intro--projects {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

::selection {
    background: #FFFFFF;
    /* WebKit/Blink Browsers */
    color: #000000;
}

::-moz-selection {
    background: #AB87FF;
    /* Gecko Browsers */
}
